{{define "title"}}Post #{{.Post.ID}}{{end}}

{{define "main"}}
{{with .Post}}
<div class="snippet">
    <div class="metadata">
        <strong>{{.Title}}</strong>
        <span>#{{.ID}}</span>
    </div>
    <pre><code>{{.Text}}</code></pre>
    <div class="metadata">
        <time>Created: {{humanDate .CreationTime}}</time>
    </div>
    <div class="reaction-counts">
        <span>Likes: {{.LikeCount}}</span>
        <span>Dislikes: {{.DislikeCount}}</span>
    </div>
</div>
{{end}}
<div class="categories">
        <strong>Categories:</strong>
        {{range .Categories}}
        <span class="category">{{.Name}}</span>
        {{end}}
</div>
{{end}}
