body {
    background-image: url("https://i.ibb.co.com/gM4mDmZ/5155755.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;   
    font-family: 'Segoe UI', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

header {
    background-color:#00000092;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

main {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
}
.post-details {
    word-wrap: break-word;
}
.post-info {
    margin-bottom: 20px;
}

.post-info p {
    margin: 0;
    margin-bottom: 10px;
}

.comments {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
}

.comments h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.comment {
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.comment p {
    margin: 0;
}

textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #8f10ff;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #1a387e;
}